.geral {
  width: 100%;
  padding: 0;
  margin-top: 53px;
  background-color: #fff;
  font-family: 'Source Sans Pro';
  margin: 0 auto;
}

.topo, .corpo {
  padding: 0;
}

.menuesquerda {
  height: auto;
  margin-left: 0;
  left: 0;
  position: absolute;
  width: 7%;
  float: left;
  padding: 0;
}

.conteudo {
  width: 95%;
  height: auto;
  float: right;
  padding: 5px;
  padding-top: 60px;
}
