<div class="linha">
  <div class="ui-g">
      <div class="ui-g-12">
        <p-table id="tabela" [value]="linhas" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina"
          [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)">
          <ng-template pTemplate="header">
              <tr>
                  <th style="width: 8%;">Código</th>
                  <th style="width: 15%;">Título</th>
                  <th style="width: 30%;">Descrição</th>
                  <th style="width: 20%;">Cor</th>
                  <th style="width: 10%; text-align: center;">Opções</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-linha>
              <tr>
                  <td style="text-align: center;">{{linha.id}}</td>
                  <td>{{linha.nomelinha}}</td>
                  <td>{{linha.descricao}}</td>
                  <td>{{linha.cor}}</td>
                  <td style="text-align: center;">
                    <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                      [routerLink]="['/linha', linha.id]"></a>

                    <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                      (click)="Excluir(linha)"></button>
                  </td>
              </tr>
          </ng-template>
        </p-table>
      </div>

      <div class="ui-g-12" style="text-align: right;">
        <a pButton label="Novo Registro" routerLink="/linha/novo"></a>
      </div>

    </div>
</div>





